<div>
<div class="container"> 
  <h4>Adding a Product Category Form</h4> 
<form #ngForm="ngForm" (ngSubmit)="AddProducts()">    
  <div class="form-group"> 
    <label for="">ProductName</label> 
    <input type="text" class="form-control" id="productName" placeholder="Enter ProductName" name="ProductName" [(ngModel)]="pro.productName">
  </div>
  <div class="form-group"> 
    <label for="">Price</label>
    <input type="text" class="form-control" id="productprice" placeholder="Enter Price" name="ProductPrice" [(ngModel)]="pro.productPrice">
  </div>
  <div class="form-group"> 
    <label for="">ProductReview</label>
    <input type="text" class="form-control" id="productReview" placeholder="Enter ProductReview" name="ProductReview" [(ngModel)]="pro.productReview">
  </div>
  <div class="form-group"> 
    <label for="">CategoryName</label>
    <input type="text" class="form-control" id="categoryName" placeholder="Enter CategoryName" name="CategoryName" [(ngModel)]="pro.categoryName"> 
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
  <button type="reset" class="btn btn-danger">Reset</button> 
</form>  
</div> 

<div class="container"> 
  <table class="table table-primary">      
    <thead>
      <tr>
        <th scope="col">ProductId</th>
        <th scope="col">ProductName</th>
        <th scope="col">ProductPrice</th>
        <th scope="col">ProductReview</th>
        <th scope="col">CategoryName</th> 
        <th scope="col">Actions</th>  
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let ele of productList"> 
        <td scope="row">{{ele.id}}</td>    
        <td>{{ele.productName}}</td>
        <td>{{ele.productPrice}}</td> 
        <td>{{ele.productReview}}</td>
        <td>{{ele.categoryName}}</td> 
        <td>  
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getdata(ele)">Edit</button>
        <button type="button" class="btn btn-danger" (click)=" DeleteProduct(ele.id)">Delete</button> 
      </td>       
      </tr>
    </tbody> 
  </table>
</div>

<div class="modal fade" id="exampleModal" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Updating ProductCategory Details</h5>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body"> 
        <form #ngForm="ngForm" (ngSubmit)="UpdateProducts()">  
          <div class="form-group">
            <label for="">ProductName</label> 
            <input type="text" class="form-control" id="productName" placeholder="Enter ProductName" name="ProductName" [(ngModel)]="currentData.productName">  
          </div>     
          <div class="form-group">
            <label for="">ProductPrice</label>
            <input type="text" class="form-control" id="productPrice" placeholder="Enter Price" name="ProductPrice" [(ngModel)]="currentData.productPrice">
          </div>
          <div class="form-group">
            <label for="">ProductReview</label>
            <input type="text" class="form-control" id="productReview" placeholder="Enter ProductReview" name="ProductReview" [(ngModel)]="currentData.productReview">
          </div>
          <div class="form-group">
            <label for="">CategoryName</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Enter CategoryName" name="CategoryName" [(ngModel)]="currentData.categoryName">
          </div>
           <button type="submit"  class="btn btn-primary" >Save</button>     
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>  
    </form>    
  </div>   
    </div>
  </div>
</div>  
</div> 